# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/doc/api/
**/coverage/
*.dart.js
*.dart.precompiled.js
*.js.deps
*.js.map
*.freezed.dart
*.g.dart
*.mocks.dart

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/generated_plugin_registrant.cc
**/android/key.properties
*.jks
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/build/

# iOS/macOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/engine
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/macos/Flutter/ephemeral/
**/macos/Pods/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
desktop.ini

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Build reports
**/reports/
**/problems-report.html
